*{
    margin: 0;
    padding: 0;
}
html,body{
    width: 100%
}
.bigTitle{
    font-size:50px;
    margin: 0 auto;
    width:80%;
    margin-top:200px;
    margin-bottom: 200px;
    text-align: center;
}
.bigBox{
    
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.box{
    font-size: 16px;
    color: black;
    /* background-color: black; */
    width:100px;
    height:70px;
    text-align: center;
    line-height: 70px;
    border: 1px solid black;
    border-radius: 5px;
    font-weight: bold;
    position: relative;
}